<div class="container-fluid card login-container">
  <h3 class="text-center">Register</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsgs.length>0">
    <p *ngFor="let errorMsg of errorMsgs">{{ errorMsg }}</p>
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">First Name</label>
    <input
      type="firstName"
      class="form-control"
      id="firstName"
      [(ngModel)]="registerRequest.firstName"
      placeholder="firstName"
    />
  </div>  <div class="mb-3">
    <label for="login" class="form-label">Last Name</label>
    <input
      type="lastName"
      class="form-control"
      id="lastName"
      [(ngModel)]="registerRequest.lastName"
      placeholder="lastName"
    />
  </div>  <div class="mb-3">
    <label for="login" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="login"
      [(ngModel)]="registerRequest.email"
      placeholder="example@name.com"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="registerRequest.password" />
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-primary" (click)="register()">
      <em class="fas fa-sign-in-alt d-flex " style="width: max-content;">
        &nbsp;Register</em>
    </button> 
    <div class="d-flex">
      Already have an account?&nbsp;
      <button type="button" class="btn btn-link" (click)="login()">Login</button>
    </div>
  </div>
</div>
