<div class="card" style="min-width: 250px; max-width: 450px">
  <div class="card">
    <img class="card-img-top" height="250" [src]="bookCover" alt="" />
  </div>
  <div class="card-body">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-2 overflow-hidden">
      <i class="fa-solid fa-book"></i>&nbsp;{{book.title!.length > 30?
      (book.title | slice:0:25) + "..." : book.title }}
    </h5>
    <hr />
    <h5 class="card-subtitle fs-6 text-secoundary mb-2">
      <i class="fa-solid fa-user-check"></i>&nbsp;{{ book.authorName }}
    </h5>
    <h6 class="card-subtitle fs-6 text-secoundary mb-2">
      <i class="fa-solid fa-code"></i>&nbsp;{{ book.isbn }}
    </h6>
    <h6 class="card-subtitle fs-6 text-secoundary mb-2">
      <i class="fa-solid fa-user"></i>&nbsp;{{ book.owner }}
    </h6>
    <hr />
    <p class="card-text overflow-hidden" style="height: 20px">
      {{book.synopsis!.length > 30?
      (book.synopsis | slice:0:25) + "..." : book.synopsis }}
    </p>
  </div>
  <div
    class="card-footer d-flex gap-2 justify-content-sm-between align-items-center"
  >
    <div class="d-flex gap-1">
      <app-rate [rate]="book.rate||0"></app-rate>
      <span class="fw-bold" *ngIf="book.rate || 0 > 0"
        >{{book.rate}} stars</span
      >
    </div>
    <div class="d-flex gap-2" *ngIf="!manage">
      <i
        (click)="onShowDetails()"
        class="fas fa-circle-info text-primary"
        title="show details"
      ></i>
      <i
        (click)="onBorrow()"
        class="fas fa-list-check text-primary"
        title="borrow this book"
      ></i>
      <i
        (click)="onAddToWaitingList()"
        class="fas fa-heart text-danger"
        title="add to waiting list"
      ></i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fas fa-edit text-primary" title="edit"></i>
      <i
        (click)="onShare()"
        class="fas fa-share-nodes text-primary"
        title="shareable"
      ></i>
      <i
        (click)="onArchive()"
        class="fas fa-archive text-danger"
        title="archive"
      ></i>
    </div>
  </div>
</div>
