<div class="container-fluid py-4">
  <button
    class="btn btn-primary"
    style="top: 80px; right: 20px; position: fixed; z-index: 1000"
    type="button"
    (click)="openAddBookDialog()"
  >
    <i class="fas fa-add"></i>
    Add Book
  </button>

  <app-loader-componnent></app-loader-componnent>

  <div class="book-list mt-5" *ngIf="booksResponse.content?.length">
    <app-book-card
      *ngFor="let book of booksResponse.content"
      [book]="book"
      [manage]="true"
    ></app-book-card>
  </div>
  <nav
    aria-label="Page navigation"
    style="
      margin-top: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      cursor: pointer;
      position: static;
    "
    *ngIf="(booksResponse.totalPages ?? 0) > 1"
  >
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 0" aria-current="page">
        <a class="page-link" (click)="pervPage()"
          ><i class="fas fa-backward-step"></i
        ></a>
      </li>
      <li
        class="page-item"
        *ngFor="
          let _ of [].constructor(booksResponse.totalPages ?? 0);
          let i = index
        "
      >
        <a class="page-link" [class.active]="page === i" (click)="goToPage(i)"
          >Page {{ i + 1 }}</a
        >
      </li>
      <li class="page-item" [class.disabled]="isLastPage()">
        <a class="page-link" (click)="nextPage()"
          ><i class="fas fa-forward-step"></i
        ></a>
      </li>
    </ul>
  </nav>
</div>
